fig1_sampling site.tiff
fig2_otolith measurment.pptx
fig3_conceptual temperature effect.tiff
fig4_intrinsic effects.tiff
fig5_growth temporal trend.tiff
fig6_temp effects.tiff
fig7_extrinsic effects.tiff
fig8_temp vs env.tiff
fig9_variance ratio.tiff
figS6_age at capture distribution.tiff
figS7_sampling size.tiff
figS8_otolith vs fish size.tiff
figS9_ctd by year.tiff
figS10_ctd vs temp.tiff
figS11_temperature.tiff
figS12_temperature pop anomaly.tiff
figS13_datras survey.tiff
figS14_raw ssb rec.tiff
figS15_nutrient.tiff
figS16_age x reading institute.tiff
figS17_pop.tiff
figS18_extrinsic comparison without nutrient.tiff
figS19_extrinsic comparison with nutrient.tiff
figS20_density effect vs standardisation.tiff
figS21_variance individual plasticity.tiff
